@using tieuluan_ban_giay.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<tieuluan_ban_giay.Models.Don_Dat_Hang>

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>..</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Quan_tri/Views/_LayoutPage1.cshtml";
}


<div class="be-content">
    <div class="main-content container-fluid">
        <p>
        </p>
        <table class="table">
            <tr>
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Trị giá đơn hàng
                </th>
                <th>
                    Hình thức thanh toán
                </th>
                <th>
                    Hình thức giao hàng
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Ten_Khach_Hang
                    </td>
                    <td>
                        @item.DiaChi_Khach_Hang
                    </td>
                    <td>
                        @item.DienThoai_khach_Hang
                    </td>
                    <td>
                        @string.Format("{0:0,00}", @item.TriGia) VNĐ
                        
                    </td>
                    <td>
                        @item.HinhThucThanhToan
                    </td>
                    <td>
                        @item.HinhThucGiaoHang
                    </td>

                    <td>
                        <a style="border-radius: 5px;" href="@Url.Action("Sua", new {id =item.So_Don_Hang})" class="btn btn-warning" role="button">Sửa</a>
                        <a style="border-radius: 5px;" href="@Url.Action("chitiet", new {id =item.So_Don_Hang})" class="btn btn-primary" role="button">Chi tiết</a>

                        <a style="border-radius: 5px;" href="@Url.Action("Xoa", new {id =item.So_Don_Hang})" class="btn btn-danger" role="button">Xoá</a>

                    </td>
                </tr>
            }

        </table>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
        </div>
        <style>
            .MenuTrang {
                display: inline;
                text-align: center;
            }

            .pagination {
                align-items: center;
                justify-content: center;
                padding: 20px;
                margin-bottom: 0;
            }

                .pagination li {
                    padding: 5px;
                }

            .PagedList-skipToPrevious {
                padding: 5px;
                font-size: 14px;
            }
        </style>
    </div>
</div>
