@model tieuluan_ban_giay.Models.Khach_Hang
@{
    ViewBag.Title = "ThemNguoiDung";
    Layout = "~/Areas/Quan_tri/Views/_LayoutPage1.cshtml";
}

<div class="be-content">
    <div class="main-content container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Ten_Khach_Hang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input style="width:50%; padding : 10px; border-radius: 5px; border: none; border: 1px solid; border-color: #ccc; margin-left: 20px;" type="text" id="Ten_Khach_Hang" name="Ten_Khach_Hang" placeholder="Nhập tên người dùng" required />    
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi_Khach_Hang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input style="width: 50%; padding: 10px; border-radius: 5px; border: none; border: 1px solid; border-color: #ccc; margin-left: 20px;" type="text" id="DiaChi_Khach_Hang" name="DiaChi_Khach_Hang" placeholder="Địa chỉ người dùng" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai_khach_Hang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input style="width: 50%; padding: 10px; border-radius: 5px; border: none; border: 1px solid; border-color: #ccc; margin-left: 20px;" type="text" id="DienThoai_khach_Hang" name="DienThoai_khach_Hang" placeholder="Điện thoại người dùng" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input style="width: 50%; padding: 10px; border-radius: 5px; border: none; border: 1px solid; border-color: #ccc; margin-left: 20px;" type="text" id="GioiTinh" name="GioiTinh" placeholder="Nhập giới tính" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input style="width: 50%; padding: 10px; border-radius: 5px; border: none; border: 1px solid; border-color: #ccc; margin-left: 20px;" type="text" id="Email" name="Email" placeholder="Nhập Email" required />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="border: 1px solid; border-color: #ccc; padding: 5px; background: #ccc; border-radius: 7px; color: #000; font-size: 14px;" type="submit" value="Thêm thông tin" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Trở về", "Index")
        </div>
    </div>
</div>

