@using tieuluan_ban_giay.Models
@{
    QLBangiayyEntities db = new QLBangiayyEntities();
    var danhgia = from x in db.Danh_Gia
                  join s in db.Giays
                  on x.ID_San_Pham equals s.Ma_Giay
                  join k in db.Khach_Hang
                  on x.ID_Khach_Hang equals k.Ma_Khach_Hang
                  select new
                  {
                      x.Ngay_Danh_Gia,
                      k.Ten_Khach_Hang,
                      x.Noi_Dung,
                      x.So_Sao,
                  };
    
    var tongdanhgia = (from t in db.Danh_Gia
                       select t.ID).Count();
    Khach_Hang kh = (Khach_Hang)Session["TaiKhoan"];

}

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">

        <div class="col-md-6">
            <h4 class="mb-4">@string.Format("{0:0,0}", tongdanhgia) Đánh giá</h4>
            @foreach (var item in danhgia)
            {
                <div class="media mb-4">
                    <img src="~/Content/img/avatar.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="border-radius: 50%; width: 50px;">
                    <div class="media-body">
                        <h6>@item.Ten_Khach_Hang<small> - <i>@item.Ngay_Danh_Gia</i></small></h6>
                        @if (item.So_Sao == 5)
                        {
                            <p>★★★★★ ( 5 sao )</p>
                        }
                        else if (item.So_Sao == 4)
                        {
                            <p>★★★★✩ ( 4 sao )</p>
                        }
                        else if (item.So_Sao == 3)
                        {
                            <p>★★★✩✩ ( 3 sao )</p>
                        }
                        else if (item.So_Sao == 2)
                        {
                            <p>★★✩✩✩ ( 2 sao )</p>
                        }
                        else if (item.So_Sao == 1)
                        {
                            <p>★✩✩✩✩ ( 1 sao )</p>
                        }

                        <p>@item.Noi_Dung</p>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-6">
            <h4 class="mb-4">Đánh giá sản phẩm</h4>
            <small>Chúng tôi dựa vào đánh giá của bạn để cải hiện tốt hơn</small>
            <form action="~/DanhGia/ThemDanhGia" method="post">
                <div class="d-flex my-3">
                    <p class="mb-0 mr-2">sao đánh giá :</p>
                    <select name="SoSao" id="dllRate">
                        <option value="5" selected="">★★★★★ ( 5 sao )</option>
                        <option value="4">★★★★✩ ( 4 sao )</option>
                        <option value="3">★★★✩✩ ( 3 sao )</option>
                        <option value="2">★★✩✩✩ ( 2 sao )</option>
                        <option value="1">★✩✩✩✩ ( 1 sao )</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="message">Đánh giá của bạn :</label>
                    <textarea id="message" cols="30" rows="5" name="Danh_Gia" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Mã khách hàng của bạn :</label>
                    <input type="text" class="form-control" readonly name="Ma_kh" value="@kh.Ma_Khach_Hang" id="name">
                </div>
                <div class="form-group">
                    <label for="name">Tên của bạn :</label>
                    <input type="text" class="form-control" readonly name="Ten" value="@kh.Ten_Khach_Hang" id="name">
                </div>
                <div class="form-group">
                    <label for="name">Mã sản phẩm :</label>
                    <input type="text" class="form-control" readonly name="Ma_SP" value="1" id="name">
                </div>

                <div class="form-group mb-0">
                    <input type="submit" value="Đánh giá" class="btn btn-primary px-3">
                </div>
            </form>
        </div>


    </div>
</div>



